---
- name: Upgrade all packages
  dnf:
    name: "*"
    state: latest

- name: Set hostname
  hostname:
    name: "{{ ansible_distribution | lower }}"

- name: Enable RPM fusion repos
  block:
    - name: Install free gpg key
      rpm_key:
        key: "{{ rpmfusion_free_gpg_key }}"
        state: present

    - name: Install nonfree gpg key
      rpm_key:
        key: "{{ rpmfusion_nonfree_gpg_key }}"
        state: present

    - name: Enable RPM fusion free 
      dnf:
        name: "{{ rpmfusion_free_repository }}"
        state: present
        validate_certs: no
      notify:
        - Update cache

    - name: Enable RPM fusion non-free 
      dnf:
        name: "{{ rpmfusion_nonfree_repository }}"
        state: present
        validate_certs: no
      notify:
        - Update cache
    
- name: Enable SSH server
  systemd:
    state: started
    enabled: yes
    name: sshd
